<div
    class="card flex col gap-8"
    hx-replace-url="true"
    hx-swap="outerHTML"
    hx-select="#results"
    hx-target="#results"
    hx-select-oob="#downloadAllCont, #status"
    hx-indicator="#results, #downloadAllCont .btn">
    <!-- Hidden inputs for sort and page -->
    <input type="hidden" name="s" value="<%= search.sort %>" />
    <input type="hidden" name="p" value="<%= search.page %>" />

    <!-- Header for search bar -->
    <div id="searchHeader" class="flex col gap-8">
        <div class="textbox medium hasIcon flex-grow">
            <span class="icon">search</span>
            <input
                type="text"
                name="q"
                id="inputQuery"
                class="input"
                placeholder="Type filters or search terms..."
                value="<%= search.query %>"
                autocapitalize="none"
                autocomplete="off"
                spellcheck="false"
                maxlength="200"
                hx-get="?"
                hx-trigger="input changed delay:500ms"
                hx-include="[name='s']"
                hx-vals='{"p": 1}' />
        </div>
        <div class="flex gap-8 align-center">
            <button class="btn small text accent" onClick="showFilterHelpPopup()">
                <span class="icon">filter_alt</span>
                <span class="label">Filter help</span>
            </button>
            <div id="status" class="status" data-reload-socket-event="update_stats,new_mapset">
                Found <%= results.count.total_beatmapsets.toLocaleString() %> beatmapsets
            </div>
        </div>
    </div>

    <!-- Inner container -->
    <div id="results" class="card lighter flex col gap-8">
        <!-- Results navigation with sort and pagination buttons -->
        <div id="resultsNav" class="flex gap-8 flex-wrap align-end">
            <div class="section" id="mapSort">
                <div class="icon flex-no-shrink">sort</div>
                <div class="flex flex-wrap gap-4">
                    <!-- prettier-ignore -->
                    <% const sortOptions = [
                    {
                        key: 'auto',
                        label: 'Auto',
                        selected: search.sort == 'auto'
                    },
                    {
                        // The value in the else block should be the default
                        key: search.sort == 'ranked_desc' ? 'ranked_asc' : 'ranked_desc',
                        label: 'Ranked date',
                        selected: search.sort.startsWith('ranked')
                    },
                    {
                        key: search.sort == 'stars_asc' ? 'stars_desc' : 'stars_asc',
                        label: 'Difficulty',
                        selected: search.sort.startsWith('stars')
                    },
                    {
                        key: search.sort == 'length_asc' ? 'length_desc' : 'length_asc',
                        label: 'Length',
                        selected: search.sort.startsWith('length')
                    },
                    {
                        key: search.sort == 'bpm_asc' ? 'bpm_desc' : 'bpm_asc',
                        label: 'Speed',
                        selected: search.sort.startsWith('bpm')
                    },
                ]; %>
                <% for (const option of sortOptions) { %>
                    <a
                        hx-get="?"
                        hx-include="[name='q']"
                        hx-vals='{"s": "<%= option.key %>", "p": 1}'
                        class="btn small <%= option.selected ? 'primary' : 'text accent' %>">
                        <span class="label"><%= option.label %></span>
                        <% if (option.selected && option.key != 'auto') { %>
                        <span class="icon">
                            <%= option.key.endsWith('asc') ? 'keyboard_arrow_down' : 'keyboard_arrow_up' %>
                        </span>
                        <% } %>
                    </a>
                    <% } %>
                </div>
            </div>

            <!-- Pagination -->
            <div class="btnGroup flex-grow justify-end">
                <button
                    title="Previous page"
                    hx-get="?"
                    hx-include="[name='q'], [name='s']"
                    hx-vals='{"p": <%= search.page - 1 %>}'
                    class="btn square">
                    <span class="icon">keyboard_arrow_left</span>
                </button>
                <button
                    title="Next page"
                    hx-get="?"
                    hx-include="[name='q'], [name='s']"
                    hx-vals='{"p": <%= search.page + 1 %>}'
                    class="btn square">
                    <span class="icon">keyboard_arrow_right</span>
                </button>
            </div>
        </div>

        <!-- The actual results -->
        <% if (results.beatmapsets.length) { %>
        <div class="beatmapsetCardContainer">
            <!-- prettier-ignore -->
            <% for (const beatmapset of results.beatmapsets) { %>
                <%- include('../partials/components/beatmapsetCard', { beatmapset }) %>
            <% } %>
        </div>
        <% } else { %>
        <div id="noResults" class="flex col gap-8">
            <div class="icon">sentiment_sad</div>
            <div class="text">Your search found no beatmaps.</div>
        </div>
        <% } %>

        <!-- Pagination -->
        <div class="btnGroup justify-end flex-grow">
            <button
                title="Previous page"
                hx-get="?"
                hx-include="[name='q'], [name='s']"
                hx-vals='{"p": <%= search.page - 1 %>}'
                class="btn square">
                <span class="icon">keyboard_arrow_left</span>
            </button>
            <button
                title="Next page"
                hx-get="?"
                hx-include="[name='q'], [name='s']"
                hx-vals='{"p": <%= search.page + 1 %>}'
                class="btn square">
                <span class="icon">keyboard_arrow_right</span>
            </button>
        </div>
    </div>
</div>

<div id="downloadAllCont" class="p-sticky bottom-0 flex justify-center">
    <% if (results.beatmapsets.length) { %>
    <button class="btn primary large" data-query="<%= search.query %>" onClick="downloadAllResults(this)">
        <span class="icon">download</span>
        <span class="label">Download all results</span>
    </button>
    <% } %>
</div>

<style>
    body[data-page='mapSearch'] main {
        width: 100%;
    }

    #searchHeader {
        padding: 8px;
        padding-bottom: 0px;
    }

    #searchHeader .status {
        font-size: 14px;
        font-weight: 600;
        color: var(--c-base-70);
    }

    #resultsNav > .section {
        display: flex;
        padding: 4px;
        gap: 8px;
        align-items: center;
        padding-left: 8px;
        background: var(--c-base-25);
        border-radius: 8px;
    }

    #resultsNav .btn.text {
        --btnBgHover: var(--c-base-35);
    }

    #resultsNav > .section > .icon {
        font-family: 'Material Symbols Rounded';
        color: var(--c-base-80);
        font-size: 24px;
        user-select: none;
        flex-shrink: 0;
    }

    #mapSort .btn .icon {
        margin: 0px -4px;
        margin-top: 1px;
        font-size: 20px;
    }

    #noResults {
        font-size: 20px;
        color: var(--c-base-70);
        text-align: center;
        padding: 24px 8px;
    }

    #noResults .icon {
        font-family: 'Material Symbols Rounded';
        font-size: 64px;
        user-select: none;
        flex-shrink: 0;
    }

    #downloadAllCont {
        padding: 24px 8px;
        margin-bottom: -24px;
        background: linear-gradient(to bottom, transparent, var(--c-base-10) 60%, var(--c-base-10));
        pointer-events: none;
    }

    #downloadAllCont .btn {
        box-shadow:
            0px 2px 12px rgba(0, 0, 0, 0.5),
            0px 2px 6px var(--c-accent-50);
        pointer-events: all;
    }
</style>
