<div
    id="results"
    class="card flex col gap-8"
    hx-replace-url="true"
    hx-swap="outerHTML"
    hx-select="#results"
    hx-target="#results">
    <!-- Hidden inputs for sort and page -->
    <input type="hidden" name="s" value="<%= search.sort %>" />
    <input type="hidden" name="p" value="<%= search.page %>" />

    <!-- Header for search bar -->
    <div id="searchHeader" class="flex col gap-8">
        <div class="textbox medium hasIcon flex-grow">
            <span class="icon">search</span>
            <input
                type="text"
                name="q"
                id="inputQuery"
                class="input"
                placeholder="Search and filter here..."
                value="<%= search.query %>"
                autocapitalize="none"
                autocomplete="off"
                spellcheck="false"
                maxlength="200"
                hx-get="?"
                hx-trigger="input changed delay:500ms"
                hx-include="[name='s']"
                hx-vals='{"p": 1}' />
        </div>
        <div class="flex gap-8 align-center">
            <button id="filterHelp" class="btn small text accent" id="filterHelpButton">
                <span class="icon">filter_alt</span>
                <span class="label">Filter help</span>
            </button>
            <div class="status" data-reload-socket-event="update_stats,new_mapset">
                Found <%= results.count.total_beatmapsets.toLocaleString() %> beatmapsets
            </div>
        </div>
    </div>

    <!-- Inner container -->
    <div class="card lighter flex col gap-8">
        <!-- Results navigation with sort and pagination buttons -->
        <div id="resultsNav" class="flex gap-8 flex-wrap">
            <div id="mapSort" class="btnGroup flex-grow">
                <!-- prettier-ignore -->
                <% const sortOptions = [
                    {
                        key: 'auto',
                        label: 'Auto',
                        selected: search.sort == 'auto'
                    },
                    {
                        // The value in the else block should be the default
                        key: search.sort == 'ranked_desc' ? 'ranked_asc' : 'ranked_desc',
                        label: 'Ranked date',
                        selected: search.sort.startsWith('ranked')
                    },
                    {
                        key: search.sort == 'stars_asc' ? 'stars_desc' : 'stars_asc',
                        label: 'Difficulty',
                        selected: search.sort.startsWith('stars')
                    },
                    {
                        key: search.sort == 'length_asc' ? 'length_desc' : 'length_asc',
                        label: 'Length',
                        selected: search.sort.startsWith('length')
                    },
                    {
                        key: search.sort == 'bpm_asc' ? 'bpm_desc' : 'bpm_asc',
                        label: 'Speed',
                        selected: search.sort.startsWith('bpm')
                    },
                ]; %>
                <% for (const option of sortOptions) { %>
                <a
                    hx-get="?"
                    hx-include="[name='q']"
                    hx-vals='{"s": "<%= option.key %>", "p": 1}'
                    class="btn <%= option.selected ? 'primary' : '' %>">
                    <span class="label"><%= option.label %></span>
                    <% if (option.selected && option.key != 'auto') { %>
                    <span class="icon">
                        <%= option.key.endsWith('asc') ? 'keyboard_arrow_down' : 'keyboard_arrow_up' %>
                    </span>
                    <% } %>
                </a>
                <% } %>
            </div>

            <!-- Pagination -->
            <div class="btnGroup">
                <button
                    title="Previous page"
                    hx-get="?"
                    hx-include="[name='q'], [name='s']"
                    hx-vals='{"p": <%= search.page - 1 %>}'
                    class="btn square">
                    <span class="icon">keyboard_arrow_left</span>
                </button>
                <button
                    title="Next page"
                    hx-get="?"
                    hx-include="[name='q'], [name='s']"
                    hx-vals='{"p": <%= search.page + 1 %>}'
                    class="btn square">
                    <span class="icon">keyboard_arrow_right</span>
                </button>
            </div>
        </div>

        <!-- The actual results -->
        <div class="beatmapsetCardContainer">
            <!-- prettier-ignore -->
            <% for (const beatmapset of results.beatmapsets) { %>
            <%- include('../partials/beatmapsetCard', { beatmapset }) %>
        <% } %>
        </div>

        <!-- Pagination -->
        <div class="btnGroup justify-end flex-grow">
            <button
                title="Previous page"
                hx-get="?"
                hx-include="[name='q'], [name='s']"
                hx-vals='{"p": <%= search.page - 1 %>}'
                class="btn square">
                <span class="icon">keyboard_arrow_left</span>
            </button>
            <button
                title="Next page"
                hx-get="?"
                hx-include="[name='q'], [name='s']"
                hx-vals='{"p": <%= search.page + 1 %>}'
                class="btn square">
                <span class="icon">keyboard_arrow_right</span>
            </button>
        </div>
    </div>
</div>

<div id="downloadAllCont" class="p-sticky bottom-0 flex justify-center">
    <button class="btn primary large">
        <span class="icon">download</span>
        <span class="label">Download all results</span>
    </button>
</div>

<style>
    body[data-page='mapSearch'] main {
        width: 100%;
    }

    #searchHeader {
        padding-top: 8px;
    }

    #searchHeader .status {
        font-size: 14px;
        font-weight: 600;
        color: var(--c-base-70);
    }

    #mapSort .icon {
        margin: 0px -4px;
        margin-top: 1px;
    }

    #downloadAllCont {
        padding: 24px 8px;
        margin-bottom: -24px;
        background: linear-gradient(to bottom, transparent, var(--c-base-10) 60%, var(--c-base-10));
        pointer-events: none;
    }

    #downloadAllCont .btn {
        box-shadow:
            0px 2px 12px rgba(0, 0, 0, 0.5),
            0px 2px 6px var(--c-accent-50);
        pointer-events: all;
    }
</style>
