<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>osu!dl Bulk Download - <%= download.pack.name %></title>
        <link rel="icon" type="image/png" href="<%= asset('/assets/images/icon.png') %>" />

        <!-- CSS -->
        <link rel="stylesheet" href="<%= asset('/assets/css/utils.css') %>" />
        <link rel="stylesheet" href="<%= asset('/assets/css/theme.css') %>" />
        <link rel="stylesheet" href="<%= asset('/assets/css/download.css') %>" />

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.8.1/dist/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="<%= asset('/assets/js/base.js') %>"></script>
        <script src="<%= asset('/assets/js/index.js') %>"></script>
        <script src="<%= asset('/assets/js/download.js') %>"></script>
    </head>
    <body>
        <script id="data-download" type="application/json">
            <%- JSON.stringify(download) %>
        </script>
        <main class="flex col">
            <div id="topbar" class="flex gap-8 align-center flex-no-shrink">
                <div id="logo" class="flex-grow">
                    <span class="white">osu!</span>
                    <span class="color">dl</span>
                </div>
                <div id="packName"><%= download.pack.name %></div>
            </div>
            <div id="progress" class="flex col gap-4 flex-no-shrink">
                <div class="bar">
                    <div class="fill" style="width: 0%"></div>
                </div>
                <div class="status">Ready to download <%= download.pack.map_count.toLocaleString() %> maps!</div>
            </div>
            <div id="maps" class="flex-grow flex col gap-2"></div>
            <div id="controls" class="flex-no-shrink" data-state="hidden">
                <!-- prettier-ignore -->
                <%
                    const basePath = `/packs/${download.pack.id}/download/${download.id}`;
                    const isVideoTooBig = download.pack.size_video > env.MAX_ZIP_SIZE;
                    const isNoVideoTooBig = download.pack.size_novideo > env.MAX_ZIP_SIZE;
                    const tooBigTitle = `Exceeds maximum zip size of ${utils.formatSize(env.MAX_ZIP_SIZE)}`;
                    const tooBigMessage = `Zip downloads are unavailable because they would exceed the maximum zip size of ${utils.formatSize(env.MAX_ZIP_SIZE)}. Refine your search query or use osu!dl Desktop or a Chromium-based desktop browser to download directly to a folder without size limits.`;
                    const zipWarningTitle = `Zip downloads are slow, unreliable, and are only available for downloads under ${utils.formatSize(env.MAX_ZIP_SIZE)}.`;
                %>
                <div class="section">
                    <div class="section cancel">
                        <button id="cancel" class="btn">
                            <span class="icon filled">close</span>
                            <span class="label">Cancel download</span>
                        </button>
                    </div>
                    <div class="section folderSelect">
                        <button id="selectFolder" class="btn primary medium">
                            <span class="icon filled">folder</span>
                            <span class="label">Select destination folder...</span>
                        </button>
                    </div>
                    <div class="section downloadToFolder">
                        <div class="text">
                            Start downloading maps to
                            <span class="folderName">selected folder</span>
                        </div>
                        <div class="split">
                            <button class="btn" data-video="true">
                                <div class="icon">folder_zip</div>
                                <div class="label">With videos (<%= utils.formatSize(download.pack.size_video) %>)</div>
                            </button>
                            <button class="btn" data-video="false">
                                <div class="icon">folder_zip</div>
                                <div class="label">
                                    Without videos (<%= utils.formatSize(download.pack.size_novideo) %>)
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="section folderUnsupported">
                        <div class="text">
                            <strong>Your browser doesn't support downloading directly to a folder.</strong>
                        </div>
                        <div class="text">
                            Download the osu!dl desktop app or use Chromium-based desktop browser (Chrome, Edge, Opera,
                            etc.) to take advantage of this functionality.
                        </div>
                    </div>
                    <div class="section downloadDesktop">
                        <a href="/desktop/download.html" target="_blank" class="btn primary medium">
                            <span class="icon filled">widgets</span>
                            <span class="label">Download osu!dl Desktop...</span>
                        </a>
                    </div>
                    <div class="text zipLink" title="<%= zipWarningTitle %>">
                        Not working?
                        <a id="showZipLinks">Download as zip</a>
                        instead (not recommended)
                    </div>
                    <div class="text danger folderSelectError"></div>
                    <div class="section zip">
                        <% if (isVideoTooBig && isNoVideoTooBig) { %>
                        <div class="text"><%= tooBigMessage %></div>
                        <% } else { %>
                        <div class="text zipLabel" title="<%= zipWarningTitle %>">
                            Download maps as zip (not recommended):
                        </div>
                        <div class="split">
                            <a
                                href="<%= isVideoTooBig ? '' : `${basePath}/zip?video=true` %>"
                                class="btn <%= isVideoTooBig ? 'disabled' : '' %>"
                                title="<%= isVideoTooBig ? tooBigTitle : '' %>">
                                <div class="icon">folder_zip</div>
                                <div class="label">With videos (<%= utils.formatSize(download.pack.size_video) %>)</div>
                            </a>
                            <a
                                href="<%= isNoVideoTooBig ? '' : `${basePath}/zip?video=false` %>"
                                class="btn <%= isNoVideoTooBig ? 'disabled' : '' %>"
                                title="<%= isNoVideoTooBig ? tooBigTitle : '' %>">
                                <div class="icon">folder_zip</div>
                                <div class="label">
                                    Without videos (<%= utils.formatSize(download.pack.size_novideo) %>)
                                </div>
                            </a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
