<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Theme -->
        <meta name="theme-color" content="#855cd6" />
        <link rel="icon" type="image/png" href="<%= asset('/assets/images/icon.png') %>" />

        <!-- Page and (potentially) search engine title -->
        <title><%= `${locals.title ? locals.title + ' - ' : ''}` %>osu!dl</title>

        <!-- prettier-ignore -->
        <%
            const defaultDesc = 'Search, filter, and bulk download all ranked, approved, and loved maps, including those unavailable for download from osu!. Bulk downloads are available as ZIP archives or directly into a folder on supported browsers.'
        %>

        <!-- Search engine description -->
        <meta name="description" content="<%= locals?.meta?.description || defaultDesc %>" />

        <!-- Meta embed site name -->
        <meta property="og:site_name" content="osu!dl" />

        <!-- Meta embed title -->
        <meta
            property="og:title"
            content="<%= locals?.meta?.title || 'Search, filter, and bulk download osu! beatmapsets' %>" />

        <!-- Meta embed description -->
        <meta property="og:description" content="<%= locals?.meta?.description || defaultDesc %>" />

        <!-- Meta image -->
        <!-- We use OpenGraph and Twitter tags here because some sites prefer one over the other -->
        <meta
            property="og:image"
            content="<%= locals?.meta?.image || locals?.meta?.thumbnail || asset('/assets/images/promo.png', true) %>" />
        <meta
            name="twitter:image"
            content="<%= locals?.meta?.image || locals?.meta?.thumbnail || asset('/assets/images/promo.png', true) %>" />

        <!-- Set standard meta image dimensions and use twitter large image -->
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:card" content="summary_large_image" />

        <!-- CSS -->
        <link rel="stylesheet" href="<%= asset('/assets/css/utils.css') %>" />
        <link rel="stylesheet" href="<%= asset('/assets/css/theme.css') %>" />
        <link rel="stylesheet" href="<%= asset('/assets/css/layout.css') %>" />

        <!-- Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.8.1/dist/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/advancedFormat.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
        <script>
            dayjs.extend(window.dayjs_plugin_advancedFormat);
            dayjs.extend(window.dayjs_plugin_relativeTime);
        </script>

        <!-- Site JS -->
        <script src="<%= asset('/assets/js/base.js') %>"></script>
        <script src="<%= asset('/assets/js/index.js') %>"></script>
        <script src="<%= asset('/assets/js/triangles-bg.js') %>"></script>
    </head>
    <body data-page="<%= page %>">
        <div class="flex justify-center">
            <!-- Sidebar -->
            <script>
                function openSidebar() {
                    document.querySelector('#sidebar').classList.add('open');
                }
                function closeSidebar() {
                    document.querySelector('#sidebar').classList.remove('open');
                }
            </script>
            <nav id="sidebar" class="flex col">
                <div class="top flex align-center justify-center gap-16 flex-no-shrink">
                    <button id="btnCloseSidebar" class="btn text square" onClick="closeSidebar()">
                        <span class="icon">close</span>
                    </button>
                    <div class="logo full flex-no-shrink">
                        <span class="white">osu!</span>
                        <span class="color">dl</span>
                    </div>
                    <div class="logo short flex-no-shrink">
                        <span class="white">o!</span>
                        <span class="color">dl</span>
                    </div>
                </div>
                <div class="scroll flex col gap-4 flex-grow">
                    <a href="/" class="btn item page <%= page == 'home' ? 'active' : '' %>">
                        <span class="icon">home</span>
                        <span class="label">Home</span>
                    </a>
                    <a href="/beatmapsets" class="btn item page <%= page == 'search' ? 'active' : '' %>">
                        <span class="icon">search</span>
                        <span class="label">Search maps</span>
                    </a>
                    <div class="separator"></div>
                    <a href="/discord" class="btn item" target="_blank" rel="noopener noreferrer">
                        <span class="icon">forum</span>
                        <span class="label">Join our Discord</span>
                        <span class="icon">open_in_new</span>
                    </a>
                    <div class="separator"></div>
                    <a href="/github" class="btn item" target="_blank">
                        <span class="icon">code</span>
                        <span class="label">Source code</span>
                        <span class="icon">open_in_new</span>
                    </a>
                    <a href="/kofi" class="btn item" target="_blank">
                        <span class="icon">favorite</span>
                        <span class="label">Donate on Ko-fi</span>
                        <span class="icon">open_in_new</span>
                    </a>
                    <a href="https://osucomplete.org" class="btn item" target="_blank">
                        <span class="icon">check_circle</span>
                        <span class="label">Also try osu!complete!</span>
                        <span class="icon">open_in_new</span>
                    </a>
                </div>
            </nav>

            <!-- Main content wrapper -->
            <div id="content">
                <!-- Topbar -->
                <div id="topbar" class="flex gap-16 align-center">
                    <button id="btnOpenSidebar" class="btn text square" onClick="openSidebar()">
                        <span class="icon">menu</span>
                    </button>
                    <div class="logo">
                        <span class="white">o!</span>
                        <span class="green">c</span>
                    </div>
                    <div class="pageSep separator"></div>
                    <div class="page flex gap-12 align-center flex-grow">
                        <div class="icon flex-no-shrink"><%= locals?.topbar?.icon %></div>
                        <h1 class="title"><%= locals?.topbar?.title %></h1>
                    </div>
                </div>

                <!-- Script to initialize and handle topbar scrolled state -->
                <script>
                    function initTopbar() {
                        const topbar = document.getElementById('topbar');
                        const checkScroll = () => {
                            if (window.scrollY > 8) {
                                topbar.classList.add('scrolled');
                            } else {
                                topbar.classList.remove('scrolled');
                            }
                        };
                        document.addEventListener('scroll', checkScroll);
                        checkScroll();
                    }
                    initTopbar();
                </script>

                <main>
                    <!-- Dynamic page content -->
                    <%- include('pages/' + page) %>
                </main>

                <!-- Static footer -->
                <footer id="footer">
                    <p>
                        osu!dl &copy;
                        <a href="https://kaysting.dev">Kayla Kersting</a>
                        2026
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>
